@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body.light {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background: #eee;
  margin: 0;
}

body.dark {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #eee;
  background: #373f49;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
.fJjfrB {
  margin-top: 0.875rem;
  margin-bottom: -0.875rem;
  min-height: 0.875rem;
  display: block;
}
.cqnnTr {
  margin-bottom: 0.875rem;
  background: rgb(241, 243, 245);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.875rem;
  color: rgb(12, 166, 120);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.tocWrapper {
  position: absolute;
  width: 350px;
  top: 0;
  height: 100%;
  right: calc(-50vw - -600px);
}

@media screen and (max-width: 1900px) {
  .tocWrapper {
    display: none;
  }
}

.btn_theme {
  position: fixed;
  right: 78px;
  bottom: 19px;
  display: inline-block;
  width: 136px;
  height: 53px;
  background-position: -270px -110px;
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;
  z-index: 100;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_16ad06.png);
  -webkit-background-size: 433px 409px;
  background-size: 433px 409px;
  background-repeat: no-repeat;
}

.btn_theme[aria-pressed="true"] {
  display: inline-block;
  width: 148px;
  height: 53px;
  background-position: -270px 0;
  background-repeat: no-repeat;
  vertical-align: top;
}

.btn_theme:hover[aria-pressed="false"] {
  display: inline-block;
  width: 136px;
  height: 53px;
  background-position: -270px -55px;
  background-repeat: no-repeat;
  vertical-align: top;
}

button {
  background-color: transparent;
}
